validation/validation_rd_mpi/.logs/
validation/validation_rd/.logs/
validation/validation_cp/.logs/
validation/validation_efield/.logs/
*.pyc
*debug_log*
benchmark/parallel/spatial/.logs/
benchmark/serial/spatial/.logs/
benchmark/serial/well_mixed/.logs/
