**.logs**
*.pyc
*debug_log*
**.idea**
**.txt
**raw_traces_cache**
**checkpoints**
**pics**
!**base_pics**
**.DS_Store
/vesicles/visualization/activetransport/images/**
/vesicles/visualization/activetransport/data/**
vesicles/performance/performance.pdf


