**.logs**
*.pyc
*debug_log*
**.idea**
**.txt
**raw_traces_cache**
**checkpoints**
**pics**
!**base_pics**
**.DS_Store
/vesicles/visualization/activetransport/images/**
vesicles/validations/data/reducedvol.h5
vesicles/validations/data/*_test.h5

stepsblender/data**

